.float-left {
  float: left;
}

.float-right {
  float: right;
}

.status {
  clear: both;
  padding-top: 10px;
}

.submit-button {
  margin-top: 30px;
}

.form-style {
  position: relative;
  left: 30%;
}

.error-name {
  position: relative;
  left: 33%;
}

.error-description {
  position: relative;
  left: 27%;
  margin-top: 10px;
}
