.form {
  border-radius: 13px;
  padding: 13px;
  width: 350px;
  font-family: sans-serif;
  font-weight: 500;
  height: auto;
}

.primary-form {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px 0 black;
  border: 1px solid black;
}

.secondary-form {
  background-color: gray;
  color: white;
  box-shadow: 2px 2px 2px 0 black;
}

.error {
  color: red;
}
