.page-style {
  position: relative;
  left: 30%;
}

.group-buttons-style {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  left: 5%;
}

.form-style {
  position: relative;
  left: 4%;
}
